# Dependencies
node_modules

# Vite
.vite
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE
.idea
.vscode

# Tests
coverage

# Git
.git
.gitignore

# Docs (non-essential for build)
README.md
AI_RULES.md

# OS
*.tar.gz
*.zip

# Environnement local
.env
.env.local
